<nav class="navbar navbar-expand-md colors">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link mx-2 active color-letra" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 active color-letra" routerLink="/players/perfil">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 active color-letra" aria-current="page" routerLink="/players/registre">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 active color-letra" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 active color-letra" routerLink="/players/ranking">ranking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 active color-letra" (click)="logout()" routerLink="/" >Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

